<%- layout('/layouts/boilerplate') -%>
<body>
    <% if(blogs.length > 0) { %>
    <% for(blog of blogs) { %>
        <div class="blog-post">
            <a href="/blogs/<%= blog._id %>" class="blog-post-title"><%= blog.title %></a>
            
            <div class="blog-post-snippet">
                <%= blog.body %>
            </div>
            
        </div>
        <% } %>
    <% } %>
</body>