<nav class="navbar navbar-expand-sm border-bottom sticky-top">
    <div class="container-fluid">
        <div class="navbar-nav ms-auto mx-auto custom-center">
            <a class="nav-link" href="/blogs/new">Create new Blog</a>
        </div>
    </div>
</nav>
