<nav class="navbar navbar-expand-sm border-bottom sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/blogs"><i class="fa-regular fa-compass"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav">
                <a class="nav-link" href="/blogs">Home</a>
            </div>
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="/blogs/new">Create new Blog</a>
            </div>
        </div>
      
    </div>
</nav>