*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url("/img/cool-background.png");
    background-repeat: no-repeat;
    background-size: cover;
}



.navbar .container-fluid .navbar-brand{
    color: red;
    font-size: xx-large;
}

.navbar-nav .nav-link {
    color: black;
    font-size: x-large;
}

.custom-center {
    display: flex;
    justify-content: center;
    width: 100%;
}


.container {
    margin: 20px auto;
}

/* Container for each blog post */
.blog-post {
    
    padding: 16px;
    margin-bottom: 16px;
    overflow: hidden; /* Ensure content doesn't overflow */
}

/* Title of the blog post */
.blog-post-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}

/* Blog post snippet */
.blog-post-snippet {
    font-size: 16px;
    color: #555;
    display: -webkit-box; /* Support for WebKit browsers */
    -webkit-line-clamp: 3; /* Number of lines to show */
    -webkit-box-orient: vertical; /* Vertical box orientation */
    overflow: hidden; /* Hide overflow content */
    text-overflow: ellipsis; /* Add ellipsis at the end of overflow text */
    height: 72px; /* Height corresponding to the number of lines */
}


.blog-post-title{
    text-decoration: none;
    color: black;
}

.blog-post-title:hover {
    text-decoration: underline;
}



footer {
    margin-bottom: 20px;
}

.single-blog {
    position: relative;
    padding: 20px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
  }
  
  .blog-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .delete {
    margin-left: auto;
    color: red;
    text-decoration: none;
    cursor: pointer;
  }
  
  .delete:hover {
    text-decoration: underline;
  }
  